<apex:page standardStylesheets="false" showHeader="true" sidebar="true" standardController="Contact" extensions="vlocity_ps.VFPageControllerBase" docType="html-5.0" >
    <div ng-app="IntakeLaunch" class='vlocity'> 
        <a ng-if="!isSforce" ng-href="/{!currentRecord['Id']}" ><i class="fa fa-caret-left"></i>{!$Label.vlocity_ps__NewBackTo} {!sParentObjectLabel} {!$Label.vlocity_ps__DetailLC}</a> 
        <a ng-if="isSforce" href="javascript:sforce.one.navigateToURL('/{!currentRecord['Id']}')"><i class="fa fa-caret-left"></i>{!$Label.vlocity_ps__NewBackTo} {!sParentObjectLabel} {!$Label.vlocity_ps__DetailLC}</a> 
        <hr/>
        <vlocity_ps:BusinessProcessComponent standardController="{!stdController}"
                                                               strOmniScriptType="Benefit Case"
                                                               strOmniScriptSubType="Healthy Start"
                                                               strOmniScriptLang="English"
                                                               
                                                               verticalMode="false"
                                                               /> 
        <vlocity_ps:BusinessProcessHelperComponent />
        <vlocity_ps:JSONTreeHTMLTemplateComponent /> 
        <script type="text/javascript">
            var modules = ['vlocity-business-process'];
            var myModule = angular.module('IntakeLaunch', modules);
        </script> 
    </div>
</apex:page>