<apex:page standardController="vlocity_ps__ProgramEnrollment__c" extensions="vlocity_ps.VFPageControllerBase" showHeader="false" sidebar="false" docType="html-5.0">
        <vlocity_ps:ActionComponent standardController="{!stdController}" 
                            objType="vlocity_ps__ProgramEnrollment__c"
                            style="Horizontal"/>      

</apex:page>