<apex:page >
    <!-- apex:iframe src="https://prod-useast-a.online.tableau.com/t/zsfdc1/views/oppoChart/Sheet1?:embed=y&:showShareOptions=false&:toolbar=false&:display_count=no&:showVizHome=no&Id%20(Account)=0015w000029DUopAAG" height="400px" width="100%">
    </apex:iframe -->
        <apex:iframe src="https://prod-useast-a.online.tableau.com/t/zsfdc1/views/sitemap/Sheet2?:embed=y&:showShareOptions=false&:toolbar=false&:display_count=no&:showVizHome=no&Id%20(Account)=0015w000029DUopAAG" height="400px" width="100%">
    </apex:iframe>
    
    
    </apex:page>