<template>
    <lightning-card  title="GIS Map" icon-name="custom:custom68">
        
    <div if:true={showMap}>
        <c-g-i-s-base-map-layer
            markers={locations} 
            center={center} 
            zoom="16"
            icon={custommarkericon}
            mapheight={mapheight}
            layersettings={layersettings}
            showservicemap={showservicemap}
            >
        </c-g-i-s-base-map-layer>
    </div>
    </lightning-card>
</template>