.map-root{
   min-height:200px;
    margin:1px 5px 1px;
}
.customButton{
   color:#6b92b3;
   cursor:pointer;
   border: 1px solid #bbbbbb;
   border-radius: 5px;
   background: white;
   padding: 3px 6px 3px;
   margin:5px;
      
  
}
.buttonGroup{
   
    text-align:right;
    margin-top:15px;
   
 }
 .TitleDiv{
     margin:8px 0px 4px;
     border-bottom: 2px solid #96b7d3;
     padding-bottom:2px;
 }
 .cpopUpTable td,.cpopUpTable th{
    padding:4px 2px 4px;
    vertical-align: top;
    color:#3d3d3d;

}