.meterStyle
{
    width: 100%;
}

meter {
    height: 2rem;
  }
  
  meter::before {
    
  }
  
  meter::after {
    
  }

  .customSticky
  {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }